{{define "material_navbar"}}
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Lens Locked</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/404">404</a></li>
    </ul>
  </div>
</nav>
{{end}}
